name: action lint

on:
  pull_request:
    paths:
      - .github/workflows/*.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  actionlint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      checks: write
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - uses: reviewdog/action-actionlint@83e4ed25b168066ad8f62f5afbb29ebd8641d982 # v1.69.1
        with:
          fail_level: warning
          filter_mode: nofilter
          level: error
          reporter: github-pr-review
  ghalint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - run: |
          gh release download "v${GHALINT_VERSION}" \
            --repo suzuki-shunsuke/ghalint \
            --pattern 'ghalint_*_linux_amd64.tar.gz' \
            --output '/tmp/ghalint.tar.gz'
        shell: bash
        env:
          GHALINT_VERSION: 1.2.3
          GH_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      - run: |
          cd /tmp
          mkdir dist
          tar -xvf ghalint.tar.gz -C ./dist/
          sudo mv ./dist/ghalint /usr/local/bin
          rm -rf ./dist ghalint.tar.gz
        shell: bash
      - run: ghalint run
