name: action lint

on:
  pull_request:
    paths:
      - .github/workflows/*.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  actionlint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      checks: write
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false
      - uses: reviewdog/action-actionlint@a5524e1c19e62881d79c1f1b9b6f09f16356e281 # v1.65.2
        with:
          fail_level: warning
          filter_mode: nofilter
          level: error
          reporter: github-pr-review
  ghalint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false
      - run: |
          gh release download "v${GHALINT_VERSION}" \
            --repo suzuki-shunsuke/ghalint \
            --pattern 'ghalint_*_linux_amd64.tar.gz' \
            --output '/tmp/ghalint.tar.gz'
        shell: bash
        env:
          GHALINT_VERSION: 1.2.3
          GH_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      - run: |
          cd /tmp
          mkdir dist
          tar -xvf ghalint.tar.gz -C ./dist/
          sudo mv ./dist/ghalint /usr/local/bin
          rm -rf ./dist ghalint.tar.gz
        shell: bash
      - run: ghalint run
